.vx-flex {
    display: flex;
}

.vx-flex-row {
    display: flex;
    flex-direction: row;
}

.vx-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.vx-flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--vx-space-lg);
}

.vx-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vx-items-start { justify-items: start; }
.vx-items-center { justify-items: center; }
.vx-items-end { justify-items: end; }

.vx-justify-start { justify-content: start; }
.vx-justify-center { justify-content: center; }
.vx-justify-between { justify-content: space-between; }
.vx-justify-end { justify-content: end; }