.vx-main-title {
    margin-bottom: var(--vx-space-md);
}

.vx-main-subtitle,
.vx-main-text {
    font-size: var(--vx-space-lg);
    font-weight: 300;
    margin-bottom: var(--vx-space-md);
}

/* Section */
.vx-section-sm {
    padding: 40px 0;
    width: 100%;
    scroll-margin-top: var(--vx-navbar-height); /* adjust to navbar height */
}

.vx-section,
.vx-section-md {
    padding: 80px 0;
    width: 100%;
    min-height: 80dvh;
    scroll-margin-top: var(--vx-navbar-height); /* adjust to navbar height */
}

.vx-section-lg {
    padding: 120px 0;
    width: 100%;
    min-height: 80dvh;
    scroll-margin-top: var(--vx-navbar-height); /* adjust to navbar height */
}

.vx-section-full {
    min-height: 100dvh;
    display: flex;
    align-items: center;
}

.vx-section-header {
    max-width: 600px;
    margin-bottom: var(--vx-space-xl);
}

.vx-section-title {
    font-weight: var(--vx-text-medium);
    margin-top: var(--vx-space-lg);
    margin-bottom: var(--vx-space-md);
}

.vx-section-text {
    color: var(--vx-color-gray-600);
    line-height: 1.6;
    margin-bottom: var(--vx-space-md);
}
